
body {
    height:100vh;
    width: 100vw;
    margin:0px;
    background-color:#EB455F;
}
.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.newClass{
    display:flex;
    flex-direction: row;
    gap:25px;
    margin-left:25px;
}
.addNewCourt{
    display:flex;
    flex-direction: column;
    width: 100%;
    color:white;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.youTubeLogo{
    margin-top: 50px;
    height:200px;
    width:300;
    border-radius: 30%;
    background-color: black;
    border-radius: 50%;
    transform: translateZ(50px)
}
#btnForm{
    display:flex;
    color:black;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 10%;
    width:100px;
    height: 22px;   
    align-items: center;
    border: none;
}
#btnForm:hover{
    color: black;
    font-size:medium;
    
}
#inputBoxes {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  label {
    width: 120px; /* Adjust the width as needed */
    margin-right: 10px;
    font-weight: bold;
    color:black;
  }
  input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
#sectionContainer{
    padding-top:50px;
    position: relative;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    height:900px;
    width:100%;
    flex-wrap:wrap;
    overflow-y:scroll;
    overscroll-behavior-y:contain;
    gap: 25px;
    border-left:7px solid #2B3467;
    border-bottom-left-radius: 25%;
    overflow-y: scroll; 
    overscroll-behavior-y: contain;
    
}
.courtCard{
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: #FCFFE7;
    margin-left:30px;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 8%;
    height:fit-content;
    width: 590px;
    transform-style: preserve-3d;
    box-shadow: inset 2px 2px 10px;
    color:black;
}
#formId{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    font-size: larger;
    font-family: 'Roboto Condensed', sans-serif;
}
.areaOfCourt{
    display:flex;
    flex-direction: column;
    font-size: larger;
}
.courtIMG{
    height:200px;
    width:400px;
    transform: translateZ(30px);
    border-radius:25%;
    overscroll-behavior-y: contain;
}
.wrapperUpdateContainer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:25px;
    transform-style: preserve-3d;
}
.showInputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    color:black;
    transform: translateZ(25px);
}
#updateInputSection{
    display:flex;
    flex-direction: column;
    gap:10px;
    justify-content:space-evenly;
    transform: translateZ(25px);
    color:black;
}
.js-tilt-glare{
    border-radius: 15%;
}
.btnContainer{
    display:flex;
    justify-content: center;
    width:50vw;
    gap: 1em;
    border-radius: 3%;
    transform:translateZ(15px)
}
.btnCard{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    width:100px;
    font-family: 'Roboto Condensed', sans-serif; 
    border-radius: 10%; 
    border:none;
    background-color:#BAD7E9;
    color:black;
    font-size: 15px;
    margin-bottom: 15px;
   
}
.btnCard:hover{
    
    background-color:green;
    color:white;
    
}