
html, body {
    margin: 0; 
    height: 100%; 
    background-color: black;
}
.headerContainer {
    position: relative;
    display: flex;
    height:vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    color:white;
    overflow: hidden;
}
.newClass{
    display:flex;
    flex-direction: row;
    gap:150px;
    margin-left:25px;
    overflow: hidden;

}
.addNewCourt{
    display:flex;
    flex-direction: column;
    width: 100%;
    color:white;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.youTubeLogo{
    margin-top: 50px;
    height:200px;
    width:300;
    border-radius: 30%;
    background-color: black;
    border-radius: 50%;
    transform: translateZ(50px)
}
#btnForm{
    display:flex;
    color:black;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 10%;
    width:100px;
    height: 22px;   
    align-items: center;
    border: none;
}
#btnForm:hover{
    color: black;
    font-size:medium;
    
}
#inputBoxes {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  label {
    width: 120px; /* Adjust the width as needed */
    margin-right: 10px;
    font-weight: bold;
    color:Green;
  }
  input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
#sectionContainer{
    display: flex;
    flex-wrap:wrap;
    width:1500px;
}
.sectionContainer2{
    position: relative;
    display: flex;
    padding-top:50px;
    position: relative;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    height:700px;
    width:100%;
    overflow-y:scroll;
    background-color: white;
    border: 5px solid white;
    border-left:7px solid white;
    border-bottom-left-radius: 25%;
    padding-bottom: 50px;
}
.courtCard{
    position: relative;
    z-index: 1;
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: white;
    margin-left:30px;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 30%;
    border: 24px inset rgb(108, 127, 105);
    height:fit-content;
    width: 590px;
    transform-style: preserve-3d;
    box-shadow: inset 7px 5px 7px black , inset -7px -5px 6px black ,inset 2px 3px 5px black;
    color:black;
}
.completeOverlay{
    height: 400px;
    width: 300px;
    background-color: green;
}
#formId{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    font-size: larger;
    font-family: 'Roboto Condensed', sans-serif;
}
.areaOfCourt{
    display:flex;
    flex-direction: column;
    font-size: larger;
}
.courtIMG{
    height:200px;
    width:400px;
    transform: translateZ(30px);
    border-radius:25%;
    overscroll-behavior-y: contain;
}
.wrapperUpdateContainer{
    position: relative;
    display:flex;
    flex-direction: row;
    width:500px;
    justify-content: center;
    align-items: center;
    gap:5em;
    transform-style: preserve-3d;
}
.showInputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 100%;
    color:black;
    
    transform-style: preserve-3d;
}
#updateInputSection{
    display:flex;
    flex-direction: column;
    gap:4px;
    justify-content:space-evenly;
    color:black;
    transform-style: preserve-3d;
}
.js-tilt-glare{
    border-radius: 15%;
}
.btnContainer{
    display:flex;
    justify-content: center;
    width:30vw;
    gap: 1em;
    border-radius: 3%;
    transform:translateZ(15px);
}
.btnCard{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    width:100px;
    font-family: 'Roboto Condensed', sans-serif; 
    border-radius: 10%; 
    border:none;
    background-color:#FFD3B0;
    color:black;
    font-size: 15px;
    margin-bottom: 15px;
}
.btnCard:hover{
    background-color:#7C9070;
    color:white;
}